<div class="chat-header">
  <div class="left-header">
    <div class="header-title">
      XXXXX
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <a href="#">Leave Chat</a>
    </div>
  </div>
</div>

<div class="messages">
  <div class="message">
    <div class="bms_message bms_left">
                    <div class="bms_message_box">
                        <div class="bms_message_content">
                                <div class="message-user">
                                    Tom
                                 </div>
                            <div class="bms_message_text">test</div>
                        </div>
                    </div>
                </div>
                <div class="bms_clear"></div><!-- 回り込みを解除（スタイルはcssで充てる） -->

                <!--メッセージ２（右側）-->
                <div class="bms_message bms_right">
                    <div class="bms_message_box">
                        <div class="bms_message_content">
                            <div class="message-user">
                                    Tom
                                 </div>
                            <div class="bms_message_text">testtest</div>
                        </div>
                    </div>
                </div>
                <div class="bms_clear"></div><!-- 回り込みを解除（スタイルはcssで充てる） -->
            </div>
</div>

<div class="form">
  <div class="form-input">
    <input class="form-message" placeholder= "type a message">
    <label class="form-image">
      <span class="image-file">IMAGE</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="form-submit" type="submit" value="SEND">
</div>
</div>